#container
{
	margin: 0 auto;
	width: 600px;
	background:#fff;
}

#content
{
	clear: left;
	padding: 20px;
}


#content h2
{
	color:#000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#note
{
  background-color: #ccc;
  margin: 0 0 .5em;
  padding: 5px;
}
